.machine-button{
    background-color:rgb(147, 51, 17);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    border-style: none;
    color: rgb(238, 223, 194);
     border: 1px solid black;
    
}

.machine-button:active{
    background-color: rgba(0, 0, 0, 0.341);
   
}


.dashboard-table {
    /* position:absolute; */
    display: flex;
    justify-content: space-evenly ;
    padding: 20px;
    /* background-color: rgba(37, 35, 35, 0.603); */
    padding: 10px;
    /* border: 1px solid black; */

}

p span {
    display: block;
    padding: 5px;
}

p{
   position: relative;
    border: 1px solid rgb(234, 227, 227);
    padding: 20px 30px;
    border-radius: 10px;
}

.dashboard h2{
  color: antiquewhite;
}



