.machine-button{
    background-color:rgb(111, 53, 51);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    border-style: none;
    color: rgb(238, 223, 194);
     border: 1px solid black;
    
}

.machine-button:active{
    background-color: rgba(0, 0, 0, 0.341);
   
}


.dashboard-table {
    /* position:absolute; */
    display: flex;
    justify-content: space-evenly ;
    padding: 20px;
    background-color: rgba(37, 35, 35, 0.603);
    padding: 10px;
    border: 1px solid black;

}

p span {
    display: block;
    padding: 10px;
}

p{
   
    border: 1px solid rgb(234, 227, 227);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
}

.dashboard h2{
  color: antiquewhite;
}


